import React from {quotes}react{quotes};
import { render } from {quotes}@testing-library/react{quotes};
import {componentName} from {quotes}./{componentName}{quotes};

test('', () => {
  const { getByText } = render(<{componentName} />);
});

